<script id="tmpl-selectTimeZone" type="text/html">
	<div class="selectTimeZone">
		<div class="add">
			{{for timeZone}}
			<div class="timeZone" data-obj_city="{{:city}}">{{:city}}</div>
			{{/for}}
		</div>
	</div>
</script>

