<script id="tmpl-TimeZone" type="text/html">
    <div>
        <br/>
    <div class="timeZone">
            <div>{{:Dcity}}, {{:Dcounty}}</div>
            <div>{{:Dhour}}:{{:Dminute}}:{{:Dsecond}}</div>
            <div>{{:Dweek}}, {{:Dmonth}}/{{:Dday}}/{{:Dyear}}</div>
        </div>
        <div class="clockTime"></div>
        <a class="btn delete">Delete</a>
    </div>
</script>